<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="DefaultAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/logs/gw/gw.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/opt/logs/gw/otherdays/gw.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<appender name="customerAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/gw/gw.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/logs/gw/otherdays/gw.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>30</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<append>true</append>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<logger name="customerLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="customerAppender" />
	</logger>

	<logger name="org.apache.ibatis" level="INFO" />
	<logger name="java.sql.Connection" level="INFO" />
	<logger name="java.sql.Statement" level="INFO" />
	<logger name="java.sql.PreparedStatement" level="INFO" />
	<logger name="org.springframework" level="INFO" />
   <logger name="com.z.gateway" level="info" />
   
	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
