<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository-1.7.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<description>Spring_Configuration</description>


	<context:property-placeholder
		location="classpath*:config/thread_poll.properties" />

	<!-- <context:component-scan base-package="com.aldb.gateway"> <context:exclude-filter 
		type="annotation" expression="org.springframework.stereotype.Controller" 
		/> </context:component-scan> -->

	<!-- 异步处理servlet3 -->
	<bean id="openApiAcceptHandlerImpl"
		class="com.aldb.gateway.handler.support.AsynOpenApiAcceptHandlerImpl">
		<property name="idService" ref="idService" />
		<property name="taskExecutor" ref="taskExecutor" />
	</bean>

	<!-- <bean id="openApiAcceptHandlerImpl" class="com.aldb.gateway.handler.support.OpenApiAcceptHandlerImpl"> 
		<property name="idService" ref="idService" /> <property name="poolHandler" 
		ref="poolHandler" /> </bean> -->
	<bean id="poolHandler" class="com.aldb.gateway.handler.support.ThreadPoolHandlerImpl">
		<property name="taskExecutor" ref="taskExecutor" />
	</bean>
	<!-- 配置线程池 -->
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<!-- 线程池维护线程的最少数量 -->
		<property name="corePoolSize" value="5" />
		<!-- 线程池维护线程所允许的空闲时间 -->
		<property name="keepAliveSeconds" value="30000" />
		<!-- 线程池维护线程的最大数量 -->
		<property name="maxPoolSize" value="20" />
		<!-- 线程池所使用的缓冲队列 -->
		<property name="queueCapacity" value="1000" />
	</bean>


	<!-- bean id 取自CommonCodeConstants类 -->
	<!-- api服务调用 -->
	<bean name="openapi.service.HandlerExecuteTemplate"
		class="com.aldb.gateway.handler.support.OpenApiServiceHandlerExecuteTemplateImpl">
		<constructor-arg>
			<list>
				<ref bean="serviceReqAdapter" />
				<ref bean="serviceReqHandler" />
				<ref bean="serviceRspHandler" />
			</list>
		</constructor-arg>
	</bean>



	<bean id="serviceReqAdapter" class="com.aldb.gateway.core.support.OpenApiReqAdapter">
		<property name="cacheService" ref="cacheServiceImpl"></property>
		<property name="contextPath" value="${proj.contextPath}"></property>
	</bean>

	<bean id="serviceReqHandler" class="com.aldb.gateway.core.support.OpenApiReqHandler">
		<property name="cacheService" ref="cacheServiceImpl"></property>
		<property name="apiInterfaceService" ref="apiInterfaceServiceImpl"></property>
		<property name="apiHttpClientService" ref="apiHttpClientService"></property>
	</bean>



	<bean id="serviceRspHandler" class="com.aldb.gateway.core.support.OpenApiRspHandler">
		<property name="cacheService" ref="cacheServiceImpl"></property>
	</bean>
	<!-- -->
	<bean id="apiHttpClientService"
		class="com.aldb.gateway.core.support.OpenApiHttpClientServiceImpl"
		init-method="init" />

	<!-- <bean id="apiHttpClientService" class="com.aldb.gateway.core.support.OpenApiHttpAsynClientServiceImpl" 
		init-method="init" /> -->

	<bean id="cacheServiceImpl"
		class="com.aldb.gateway.service.support.DefaultCacheServiceImpl" />



	<!-- 不依赖于外部系统即api的服务提供由硬编码完成 -->
	<bean id="idService" class="com.aldb.gateway.service.support.DefaultIdServiceImpl" />
	<bean id="authenticationService"
		class="com.aldb.gateway.service.support.DefaultAuthenticationServiceImpl" />
	<!-- <bean id="apiInterfaceServiceImpl" -->
	<!-- class="com.aldb.gateway.service.support.TestApiInterfaceServiceImpl" 
		/> -->

	<bean id="apiInterfaceServiceImpl"
		class="com.aldb.gateway.service.support.ZkApiInterfaceServiceImpl"
		init-method="init">
		<property name="rootPath" value="${zk.rootpath}"></property>
		<property name="zkServers" value="${zk.zkservers}"></property>
	</bean>

	<!-- 虚拟服务注入注册中心 -->
	<bean class="com.aldb.gateway.service.support.DefaultVirtualServiceImpl" init-method="init">
		<property name="rootPath" value="${virtual.zk.rootpath}"></property>
		<property name="zkServers" value="${virtual.zk.zkservers}"></property>
		<property name="context" value="${proj.contextPath}"></property>
		<property name="ip" value="${virtual.ip}"></property>
		<property name="port" value="${virtual.port}"></property>
	</bean>
</beans>